/* Seção 1 */
.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 548px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os elementos horizontalmente */
}

.u-section-1 .u-image-1 {
  width: 200px; /* Diminui o tamanho da imagem */
  height: 200px; /* Diminui o tamanho da imagem */
  margin-top: 50px; /* Espaçamento entre a imagem e o texto */
}

.u-section-1 .u-text-1{
  font-weight: bold; /* Adiciona negrito */
  font-size: 2rem; /* Reduz o tamanho do texto */
  margin: 20px auto 0; /* Ajusta o espaçamento */
  text-align: center; /* Centraliza o texto */
}
.u-section-1 .u-text-2 {
  text-align: center; /* Centraliza o texto */
  margin-top: 20px; /* Espaçamento entre a imagem e o texto */
}

/* Seção 2 e Seção 3 */
.u-section-2,
.u-section-3 {
  background-image: none;
}

.u-section-2 .u-sheet-1,
.u-section-3 .u-sheet-1 {
  min-height: 400px;
}

.u-section-2 .u-text-1,
.u-section-3 .u-text-1 {
  width: 80%;
  margin: 60px auto 0;
  text-align: center; /* Centraliza o texto */
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  border-radius: 15px; /* Adiciona bordas redondas */
  margin: 30px auto;
  display: block; /* Adicionado para centralizar o botão */
}
